.container {
  background-color: white;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  border-radius: 6px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
  padding: 32px;
  position: relative;

  .task-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 60%;
    overflow: auto;
  }
}
